body {
  background: rgb(2,0,36);
  background: linear-gradient(180deg, rgba(2,0,36,0.95) 0%, rgba(17,168,101,1) 46%, rgba(0,212,255,1) 100%);
  padding: 225px;
  font: 18px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
